# Node.js
node_modules/
dist/
.yarn/
.yarn-cache/
.pnp.*
.cache/
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Editor configs
.vscode/
.idea/
*.sw?

# Test coverage
coverage/

# Build tools
*.log
*.lock

# Lint/styling
.stylelintcache
