@import "~styles/colors.css";

.wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 16px;
  border-radius: 40px;
  background: var(--leaf);
}

.wrapLock {
  justify-content: flex-start;
  background: var(--surface-surface-3-color);
}

.round {
  width: 16px;
  height: 16px;
  background: var(--surface-surface-2);
  border-radius: 100px;
}
